<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>iService - Login</title>
    <link rel="stylesheet" href="style/login.css">
</head>
<!-- 6f0 -->

<body>
    <aside>
        <h1 class="software-title">ISELECT</h1>
        <!-- <img src="../static/img/tcs-login-banner.png" alt="logo tcs" class="logo"> -->
    </aside>

    <main>
        <form action="/login" method = "post" class="form-login">
            <h2 class="page-title">LOGIN</h2>
                <span class="description">Enter your details to start a session.</span>
                <input class="form-control form-control-lg" type="text" placeholder="id" aria-label="default input example" name = "id">
                <input class="form-control form-control-lg" type="password" placeholder="password" aria-label="default input example" name = "password">
                <a class="forgot-password">forgot password</a>
                <button type="submit" class="btn btn-login mb-3"><span class="login-effect">Login</span></button>
        </form>
    </main>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">
    </script>


</body>

</html>